
<html>
    <head>
        <title>End</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <script src="/error.js"></script>
    </head>
    <body id="body">
        <div class="endConteiner">
                <div class="message"> Error refresque la pagina !!! </div>
                <button class="play" id="play-button"> Refrescar </button>
        </div>
    </body>
</html>